@font-face {
    font-family: 'NeutraBold';
    src: url('../fonts/NeutraDispBold.ttf'); format('ttf');
}
@font-face {
    font-family: 'NeutraMedium';
    src: url('../fonts/NeutraDispMedium.ttf'); format('ttf');
}
.card-content .item-header .avatar {
    float: left;
    width: 100%;
    height: auto;
}
.card-content .item-header .avatar > img {
    width: 100%;
    height: auto;
}
.card-content .item-content {
    padding: 10px;
    white-space: normal;
    overflow: hidden;
}
.detail{
    font-size:17px;
    margin-left:0!important;
}
.nickname{
    color:#303033!important;
}
.card-content .item-header {
    /*border-bottom: 1px solid #4fb950;*/
}
.toolbar a.active {
    color: #4fb950;
}
.orange{
    color: #4fb950!important;
}
.rubrike-page .item-content {
    margin: 35px 0;
    padding: 0 15px;
    color: #6d6d72;
    margin: 0;
    margin-top: 10px;
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    padding: 0;
    border: 1px solid #EBE9E9;
    box-shadow: none;
    padding-left: 10px;
}
.firstcharactergreen { float: left; color: #4fb950; font-size: 3em; line-height: 1em; padding-right: 4px}
.firstcharacterblue { float: left; color: #4f9fd6; font-size: 3em; line-height: 1em; padding-right: 4px}
.firstcharacterviolet { float: left; color: #444d9f; font-size: 3em; line-height: 1em; padding-right: 4px}
.firstcharacterred { float: left; color: #d01729; font-size: 3em; line-height: 1em; padding-right: 4px}
.secondaryphoto{
    width: 50%;
    float: left;
    margin: 0 10px 5px 0;
}
.comments-content{
    clear:both;
}
.item-rubrika{
    color: #4fb950;
}
.card-content .item-header .detail .nickname {
    font-family: 'NeutraMedium';
    font-size:24px;
}
/*.navbar .center {
    font-family: 'NeutraBold';
    text-transform:uppercase;
    font-size:24px;
}
.navbar{
    background: #4fb950;
    color:white;
}*/
.navbar a.link{
    color:#4fb950;
}
.item-tools{
    background-color: #f9f9f9;
    color: #909090;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #f0f0f0;
    font-size: 14px;
    margin-bottom: -1px;
}
.item-tools ul li{
    float: left;
    width: 32%;
    text-align: center;
}
.item-tools ul{
    background: #ffffff;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.item-tools i.icon{
    font-size: 20px;
    margin-right: 5px;
    line-height: 20px;
    vertical-align: middle;
}
.item-tools .tool-line{
    border-left: 1px solid #f0f0f0;
    height: 28px;
    margin-top: 5px;
    width: 1%;
}
.bold{
    font-weight:bold;
}
.list-block .kuhalnica-content .item-content {
    margin: 35px 0;
    padding: 0 15px;
    color: #6d6d72;
    margin: 0;
    margin-top: 10px;
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    padding: 0;
    border: 1px solid #EBE9E9;
}
.list-block .kuhalnica-content .item-content .item-inner {
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
}

.message-content .message-input-title {
    text-align: center;
    height: 60px;
}
.message-content .message-input-text {
    text-align: center;
    height: 150px;
}
.message-content .message-input-title > textarea {
    width: 100%;
    height: 50px;
    font-size: 15px;
    border: none;
    color: #444;
    margin: 0;
    padding: 5px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.message-content .message-input-text > textarea {
    width: 100%;
    height: 150px;
    font-size: 15px;
    border: none;
    color: #444;
    margin: 0;
    padding: 5px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.message-content .message-tools > ul > li {
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
}
.none-photo{
    text-align: center;
    margin-top: 10px;
    color: #DBDBDB;
}
.none-photo i{
    display: block;
    font-size: 75px;
    margin-left: 0px;
}
.message-content .upload-pic-preview {
    position: relative;
    overflow: hidden;
    width: 96%;
    margin-top: 10px;
    display: none;
    height: auto;
}
.message-content .upload-pic-preview > img {
    border-radius: 5px;
    height: auto;
    display: block;
    width: 100%;
}
.message-content .upload-pic-preview .mask {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}
.comments-content .comments-list .comment-detail{
    margin-left: 5px;
}
.weather-icon-main{
    width: 100px!important;
    height: 100px!important;
    background: #4fb950;
}
.weather-icon-main img{
    height: 100%;
    background: none;
    margin: 0 auto;
}
.weather-icon-main-detailed{
    width: 90px;
    height: 90px;
    background-size: 83%;
    border-radius: 5px;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    background: #4fb950;
}
.weather-icon-main-detailed img{
    height: 100%;
    background: none;
    margin-left: 11px;
}
.movies-listview{
    background: white!important;
}
.current-edition-js{
    color:rgb(204, 204, 204) !important;
}
.big-letters{
    font-size:17px;
}
.big-letters-controller-color{
    color:#4fb950;
}
/*Tablet styles*/

@media only screen and (min-device-width : 768px) {

    #container{
        -webkit-column-count: 2;
        -webkit-column-gap: 10px;
        column-count: 2;
        column-gap: 10px;
        width: 100%;
    }
    .list-block .time-line-content .item-content {
        display: inline-block;
        width: 100%;
    }
    .list-block li {
        position:static;
    }
    .kuhalnica-content{
        -webkit-column-count: 2;
        -webkit-column-gap: 10px;
        column-count: 2;
        column-gap: 10px;
        width: 100%;
    }
    .list-block .kuhalnica-content .item-content {
        display: inline-block;
        width: 100%;
    }
    /*.card-content .item-header .detailed-avatar {*/
        /*float: left;*/
        /*width: 50%;*/
        /*margin-right: 15px;*/
        /*height: auto;*/
    /*}*/
}
.weather-by-city li,
.language-page li{
    list-style-type:none;
}